/*!
 * Start Bootstrap - SB Admin (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

 /* Global Styles */

 body {
    margin-top: 100px;
    background-color: white;
    color : #00C853;
}

@media(min-width:768px) {
    body {
        margin-top: 20px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.navbar-inverse{
    background-color: white !important;
    border-color: white;
}

@media(max-width:768px){
    .navbar-collapse{
        background-color: #13AB52;
        border-color: white;
    }
}

.navbar-inverse .navbar-nav>li>a{
    color: white;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}



/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color:  #13AB52;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: white !important;
        color: #13AB52 !important;

    }
    #ava{
    width: 100px;
    height: 100px;
    height: auto;
    border-radius: 50%;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    margin-left: 24%;
}
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: white;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}



.judul{
    text-align: center;
}

.myButton {
    background-color:#00C853;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #f5f5f5;
    display:inline-block;
    cursor:pointer;
    color:#f5f5f5;
    font-family:Arial;
    font-size:17px;
    padding:0 auto;
    text-decoration:none;
    width: 150px;
    height: 45px;
    margin-top: 3%;
}
.myButton:hover {
    background-color:#13AB52;
}
.myButton:active {
    position:relative;
    top:1px;
}

@media(max-width: 768px){
    #ava{
    width: 100px;
    height: 100px;
    height: auto;
    border-radius: 50%;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    margin-left: 35%;
}
}



.activee{
    background-color: white;
}

.navbar-toogle{
    background: red !important;
}

.modal{
    color: black;
}

#nomor{
    font-size: 4em;
    
}

#noanda{
    font-size: 5em;
    background-color:  #00C853;
    color: white;
    padding: 10px; 
}

.main{
    height: 100%;
     transition: margin-left .5s;
}

#front{
    width:100%; 
    height:100%;
     margin-left:-50px; 
     margin-right:-50px;
}

input[type="text"].form-control.log:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type="password"].form-control.log:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

 input[type="text"].form-control.log {
  background: transparent;
  border: none;
  border-bottom: 1px solid #9C9C9C;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

 input[type="password"].form-control.log {
  background: transparent;
  border: none;
  border-bottom: 1px solid #9C9C9C;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

.back{
    height:100%; 
    background-color:white; 
    text-align:center; 
    padding-top:5%;
    background-image: url(..//images/bulat.png);
    background-size: 15%;
    background-position: right top;
    background-repeat: no-repeat;
    

}

#judul{
    width: 90%;
    height: auto;
    margin-top: -18%;
    margin-bottom: -5%;
    margin-left:-20px;
}

input{
    margin-bottom: 10px;
}

.data{
    width: 55%;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height:250px;
    border-radius: 5px;
    margin-right: 5%;
    padding-top: 15px;
    margin-bottom: 15px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#card {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 100%;
}

#tambah {
    border-radius: 5px 5px 0 0;
    width: 60%;
    height: 100%;
    margin-bottom: 10%;
    margin-top: 11%;
}

.gigi {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height:105px;
    width: 65px;
    border-radius: 5px;
    padding: 0px;
    margin-left: 0px;
    margin-right: -4px;
    margin-bottom: 15px;
    text-align: center;
    display: inline-block;
    color: black;
}

.gigi:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.gigi-pilih {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height:105px;
    width: 65px;
    border-radius: 5px;
    padding: 0px;
    margin-left: 0px;
    margin-right: -4px;
    margin-bottom: 15px;
    text-align: center;
    display: inline-block;
    color: black;
    background-color: red;
}

.gigi-pilih:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.panel-green {
    border-color: #00C853;
}

.panel-green > .panel-heading {
    border-color:#00C853;
    color: #fff;
    background-color: #00C853;
}

.panel-green > .panel-heading:hover {
    border-color: #13AB52;
    color: #fff;
    background-color: #13AB52;
}

.panel-green:hover {
    border-color: #13AB52;
}

a > .panel-green {
    color: #00C853;
}

a:hover > .panel-green {
    color: #13AB52;
}

.panel-red {
   border-color: #d9534f;
}

.panel-red > .panel-heading {
  border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > .panel-heading:hover {
    border-color:  #b52b27;
    color: #fff;
    background-color:  #b52b27;
}

.panel-red:hover {
    border-color:  #b52b27;
}

a > .panel-red {
    color: #d9534f;
}

a:hover > .panel-red {
    color: #b52b27;
}